.foot {
  background-color: black;
  padding-top: 60px;
  padding-bottom: 40px;
  margin-top: 40px;
}

.text-muted {
  font-size: 13px;
  text-transform: uppercase;
  color: white !important;
}

img {
  width: 100px;
}

.ms-3 {
  margin-left: 1.5rem !important;
}

svg {
  fill: white;
  transition: 0.3s;
}

.facebook :hover {
  fill: #d4d4d8;
  transition: 0.3s;
}

.instagram :hover {
  fill: #d4d4d8;
  transition: 0.3s;
}

.twitter :hover {
  fill: #d4d4d8;
  transition: 0.3s;
}

.pinterest :hover {
  fill: #d4d4d8;
  transition: 0.3s;
}

