<div class="foot">
  <div class="container">
    <footer class="row">
      <div class="col-md-6 ">
        <div>
          <a class="d-flex align-items-center mb-3 link-dark text-decoration-none" href="/">
            <img alt="" src="assets/img/logo/logo.webp">
          </a>
          <p class="title-redes">The latest fashion news, beauty coverage, celebrity style, fashion week updates, culture
            reviews, and videos on Vogue.com</p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <h5 class="title">Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="#">Home</a></li>
              <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="#">Features</a></li>
              <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="#">Pricing</a></li>
            </ul>
          </div>

          <div class="col-md-6">
            <h5 class="title">Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="#">Home</a></li>
              <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="#">Features</a></li>
              <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="#">Pricing</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
