img {
  width: 100%;
  transition-duration: .5s;
  object-fit: cover;
}

:hover img {
  transform: scale(1.1);
  transition-duration: .5s;
}

.title {
  font-size: 18px;
  letter-spacing: inherit;
  color: black;
  margin-top: 15px;
}

.subtitle {
  color: black;
  font-size: 14px;
}

.card-img {
  margin-top: 20px;
  cursor: pointer;
}

.contenedor-img {
  overflow: hidden;
}

:hover .contenedor-img {
  -webkit-box-shadow: 0 0 11px 6px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 0 11px 6px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 11px 6px rgba(0, 0, 0, 0.07);
}
